.CartLink {
  display: flex;
  align-items: center;
  margin-left: 150px;
}
@media screen and (max-width: 1080px) {
  .CartLink {
    margin-left: 80px;
  }
}
@media screen and (max-width: 950px) {
  .CartLink {
    margin-left: 50px;
  }
}
@media screen and (max-width: 840px) {
  .CartLink {
    margin-left: 20px;
  }
}

.CartLink a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  text-decoration: none;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  /* position: absolute; */
  
}

.CartLink a span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("./../../assets/iconCart.png");
  background-repeat: no-repeat;
  background-size: cover;
}
