.DeliveryInfo {
  display: flex;
  justify-content: space-between;
}

.DeliveryInfo__card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.DeliveryInfo__card h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.DeliveryInfo__card p {
  color: #666;
  font-size: 16px;
  margin-bottom: 0;
}
