* {
    box-sizing: border-box;
    margin: 0;
}
.Layout {
    display: grid;
    grid-template-areas: "header header"
                          "aside main"
                          "footer footer";
    grid-template-columns: 1fr 6fr;
    max-width: 1200px;
    margin: 0 auto;
}
.Layout header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}
.Layout aside {
    grid-area: aside;
}
.Layout main {
    grid-area: main;
}
.Layout footer {
    grid-area: footer;
}