.Layout{
    display: grid;
    grid-template-areas: "header header"
      "asiad main"
      "footer footer"
    ;
    grid-template-columns: 1fr 3fr;
    max-width: 789px;
    margin: 0 auto;
  }
  .Layout header{
    grid-area: header;
  }
  .Layout aside{
    grid-area: asaid;
  }
  .Layout main {
    grid-area: main;
  }
  .Layout footer{
    grid-area: footer;
  }
  