
.Nav {
    background-color: white;
    padding-top: 20px;


}
.Nav .NavItem {
    list-style-type: none;   
}
.Nav .NavItem a {
    font-weight: 600;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 0 auto;
    padding: 40px;

    
}

.NavItem a:hover {
    color: grey;
    transition: all 100ms ease-in-out;
    
    
}
.Nav ul {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 20px;
     
}


@media (max-width: 655px) {
    .Nav ul {
        /* flex-direction: column; */
        /* justify-content: flex-end; */
        
    }
    .Nav .NavItem a {
        font-weight: 600;
        color: black;
        font-size: 20px;
        margin: 0 auto;
        padding: 25px;
    }
    .Layout header {
        display: flex;
       /* flex-wrap: wrap; */
    }

  }
   @media (max-width: 760px) {
    .Layout header {
        
        /* display: flex;  */
        flex-direction: column; 
    } 

   } 